.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-title {
    margin-left: 1%;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 25%;
}

.nav-links li {
    margin-right: 5%;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.btn {
    background-color: rgb(9, 181, 255);
    padding: 5px;
    color: white;
    font-size: 24px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px black;
}